PORT=3000
MONGO_URI=mongodb://localhost:27017/shastik_fashion
JWT_SECRET=jkhfsdjkfhsdjfhksdjhfkjsdhf
JWT_EXPIRE=1d
REFRESH_TOKEN_SECRET=jkfhsdkjfhskjdfhksjdhfkjsdhfkjsh
REFRESH_TOKEN_EXPIRE=7d
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
